.container {
  padding: 5vmin;
}
.topcontainer {
  margin-top: 5vmin;
  padding: 5vmin;
  z-index: 1;  
  position: fixed;
  width: 50vmin;
  height: 30vmin;
  transform: translate(-50%, 0);
}
.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  font-size: 2.5vmin;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 2.5vmin;
  font-size: 5vmin;
  padding-bottom: 5vmin;
}

.subtitle {
  margin: 0;
  line-height: 0.5vmin;
  font-size: 3.0vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

.text {
  font-size: 2.5vmin;
  padding-bottom: 1.5vmin;
  margin-left: 20vmin;
  margin-right: 20vmin;
}

.text a {
  text-decoration: underline;
}
.text a:hover {
  color: #808080;
  }
  
.address {
  font-size: 2.5vmin;
  margin-left: 10vmin;
  margin-right: 10vmin;
  margin-top: 0;
  margin-bottom: 0;
}

.headerimage {
  margin-bottom: 5vmin;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  width: 40vmin;
  height: 20vmin;
}